body,
html {
  background-color: transparent;
  background-color: var(--sn-stylekit-background-color);
  font-family: var(--sn-stylekit-sans-serif-font, "-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif");
  font-size: var(--sn-stylekit-base-font-size);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root .md-editor {
  // color-scheme: light;
  // --color-prettylights-syntax-comment: #6e7781;
  // --color-prettylights-syntax-constant: #0550ae;
  // --color-prettylights-syntax-entity: #8250df;
  // --color-prettylights-syntax-storage-modifier-import: #24292f;
  // --color-prettylights-syntax-entity-tag: #116329;
  // --color-prettylights-syntax-keyword: #cf222e;
  // --color-prettylights-syntax-string: #0a3069;
  // --color-prettylights-syntax-variable: #953800;
  // --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  // --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  // --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  // --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  // --color-prettylights-syntax-carriage-return-bg: #cf222e;
  // --color-prettylights-syntax-string-regexp: #116329;
  // --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: var(--sn-stylekit-info-color, #0550ae);
  // --color-prettylights-syntax-markup-italic: #24292f;
  // --color-prettylights-syntax-markup-bold: #24292f;
  // --color-prettylights-syntax-markup-deleted-text: #82071e;
  // --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  // --color-prettylights-syntax-markup-inserted-text: #116329;
  // --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  // --color-prettylights-syntax-markup-changed-text: #953800;
  // --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  // --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  // --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  // --color-prettylights-syntax-meta-diff-range: #8250df;
  // --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  // --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  // --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-fg-default: var(--sn-stylekit-foreground-color, #24292f);
  --color-fg-muted: var(--sn-stylekit-secondary-foreground-color, #57606a);
  // --color-fg-subtle: #6e7781;
  --color-canvas-default: var(--sn-stylekit-background-color, #ffffff);
  --color-canvas-subtle: var(--sn-stylekit-background-color, #f6f8fa);
  --color-border-default: var(--sn-stylekit-border-color, #d0d7de);
  --color-border-muted: var(--sn-stylekit-border-color, hsl(210, 18%, 87%));
  --color-neutral-muted: var(--sn-stylekit-secondary-background-color, rgba(175, 184, 193, 0.2));
  --color-accent-fg: var(--sn-stylekit-info-color, #0969da);
  --color-accent-emphasis: var(--sn-stylekit-neutral-color, #0969da);
  --color-attention-subtle: var(--sn-stylekit-warning-color, #fff8c5);
  --color-danger-fg: (--sn-stylekit-danger-color, #cf222e);
}

#root {
  display: flex;
  flex-direction: column;
  font-size: var(--sn-stylekit-font-size-editor);
  min-height: 100vh;

  @media screen and (max-width: 420px) {
    min-height: -webkit-fill-available;
  }

  .md-editor {
    font-family: var(--sn-stylekit-sans-serif-font);
    font-size: var(--sn-stylekit-font-size-editor);
    flex: 1 1;

    .cm-scroller {
      font-family: 'Sarasa Term SC', Consolas, monospace;
    }

    .md-editor-toolbar button {
      height: 28px;
      width: 28px;
    }

    .md-editor-toolbar-mode>button:nth-child(2) {
      display: none !important;
    }

    .cm-gutters {
      opacity: .4;
      font-size: 14px;
    }

    .cm-focused .cm-selectionBackground,
    .cm-line::selection,
    .cm-selectionLayer .cm-selectionBackground,
    .cm-content ::selection {
      background: var(--sn-stylekit-info-color, #0969da) !important;
      color: var(--sn-stylekit-info-contrast-color, #fff);
    }

    .cm-panels {
      border-color: var(--color-border-default);

      .cm-search.cm-panel {
        background-color: var(--color-neutral-muted);
        color: var(--color-fg-default);

        input.cm-textfield {
          background-color: var(--color-canvas-subtle);
          color: var(--color-fg-default);
          border-color: var(--color-border-default);
          outline: none;
        }

        input.cm-textfield:focus {
          border-color: var(--color-accent-fg);
        }

        button.cm-button {
          background-image: none;
          background-color: var(--sn-stylekit-passive-color-4-opacity-variant, #bbbec43d);
          color: var(--color-fg-default, #fff);
          border-color: var(--color-border-default);
          border-radius: .25rem;
          cursor: pointer;
        }

        button.cm-button:hover {
          opacity: .7;
        }

        label {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

#root,
.md-editor,
.md-editor-content-editor,
.md-editor-inner,
.cm-editor {
  height: 100%;
}

@media (max-width: 650px) {
  #root .md-editor .md-editor-toolbar button {
    height: 32px;
    width: 32px;
  }

  h1 {
    font-size: 1.75em;
  }
}